.list-of-reviews-section {
    margin-top: 20px;
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 2rem;
}

.reviews-section p {
    margin-bottom: 10px;
}

.reviews-section input {
    width: 100%;
    height: 90px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 2rem;
}

.add-reviews-section h3{
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}

.review-submit-btn{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px 10px;
    transition: background-color 0.3s;
}


@media (max-width: 768px) {
    .list-of-reviews-section {
        width: 100%;
        padding: 10px;
    }

    .reviews-section input {
        height: 90px;
        font-size: 14px;
    }

}