.return_button,
.return_link {
    // margin-top: 2%;
    background-color: #000;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s;
    text-decoration: none;

    &:hover {
        background-color: #333;
    }
}

.service-detail-container {
    margin: 2rem;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-self: center;
}
