
.user-profile {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photo-section {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.photo-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 200px;
    border: 1px solid #ccc;
    text-align: center;
    position: relative;
}

.upload-btn{
    margin-top: 5rem;
}

.photo-placeholder img {
    width: 350px;;
    height: 350px;
    object-fit: cover;
}

.user-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-info h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

.user-info p {
    margin: 5px 0;
}


.listings {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.listing-item {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 4px;
    background-color: #f9f9f9;
}


.user-about {
    margin-top: 20px;
}

.user-about h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.user-about p {
    margin: 5px 0;
}