/* Basic Black & White Theme */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  margin: 20px auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form input,
.form textarea,
.form select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
}
.form textarea {
  height: 100px;
}

h2 {
  color: #000;
  border-bottom: 2px solid #000;
  padding-bottom: 8px;
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 15px;
  color: #000;
  width: 100%;
}

.btn-submit {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s;
}
.btn-submit:hover {
  background-color: #333;
}

.radio-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0.75rem 1.5rem;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100px;
}

.navbar-logo {
  height: 60px;
  width: 150px;
}

.navigation-control {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.btn {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.add-service-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-image: url("/public/images/background/bench-accounting-xxeAftHHq6E-unsplash.jpg");
  background-position: contain;
  padding: 20px;
}

.add-service h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.add-service-button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.add-service-button:hover {
  transform: scale(1.1);
  background-color: #333;
}

.featured-services-grid,
.service-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.featured-service-card,
.service-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 20px;
  transition: box-shadow 0.3s;
  width: 30rem;
  text-align: center;
}

.featured-services-container h2 {
  font-size: 24px;
  margin: 20px 20px;
}

.featured-service-card h4 {
  font-size: 18px;
  margin: 0 0 10px;
  color: #333;
  text-decoration: none;
}

.featured-service-card p {
  font-size: 14px;
  margin: 5px 0;
  color: #555;
}

@media (max-width: 768px) {
  .add-service-section {
    padding: 10px;
  }
  .add-service {
    max-width: 90%;
    padding: 25px;
  }
}
.about-us-section {
  background-image: url("/public/images/background/aboutus.jpg");
  background-size: cover;
  background-position: center;
  min-height: 70vh;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-us-section p {
  text-align: center;
  text-decoration: none;
  color: white;
  padding-top: 5rem;
}

.about-us-btn {
  font-size: 18px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
  margin-top: 2rem;
}

.about-us-page {
  padding: 20px 40px;
}

.about-us-title {
  color: white;
  text-align: center;
  background: linear-gradient(112.1deg, rgb(65, 65, 67) 11.4%, rgb(124, 133, 165) 70.2%);
  height: 20vh;
  padding-top: 5rem;
}

.hero-section {
  position: relative;
  background: url("/public/images/background/profile/marvin-meyer-SYTO3xs06fU-unsplash.jpg") no-repeat center center/cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 8px;
}

.about-section {
  background: #f8f9fa;
  padding: 50px 20px;
}

.about-content h4 {
  font-size: 2rem;
  color: black;
  margin-bottom: 20px;
}

.about-content p {
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
}

.cta-section {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(109.6deg, rgb(243, 118, 118) 12.6%, rgb(191, 159, 237) 91.1%);
  color: white;
}

.cta-button {
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  margin: 20px;
}

.footer {
  background-color: white;
  color: black;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 400px;
  align-items: center;
  color: #000;
  border-top: 2px solid #505050;
  height: 30vh;
}

.footer-info {
  flex: 1;
  max-width: 300px;
}

.footer-logo {
  width: 10em;
  height: auto;
  margin-bottom: 15px;
}

.footer-info p {
  margin: 5px 0;
  font-size: 14px;
  line-height: 1.5;
}

.footer-right-section {
  display: flex;
  flex: 2;
  justify-content: space-between;
  gap: 40px;
}

.footer-menu,
.footer-social {
  flex: 1;
}

.footer-menu h4,
.footer-social h4 {
  font-size: 16px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer-menu ul,
.footer-social ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-menu ul p,
.footer-social ul p {
  font-size: 14px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-menu ul p:hover,
.footer-social ul p:hover {
  color: rgb(247, 46, 183);
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-right-section {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .footer-menu ul p,
  .footer-social ul p {
    font-size: 16px;
  }
}
.category-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  margin: 60px 20px;
}

.category_button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.category_button:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.category_button:active {
  background-color: #2a5eac;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.category-filter__category_selected {
  background-color: #6a94d3;
}

.category_button:focus {
  outline: 1px transparent;
}

.category_button:before {
  display: none;
}

.category_button:-webkit-details-marker {
  display: none;
}

.search_section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
  padding-top: 2%;
}

.search_input {
  width: 90%;
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
.search_input:focus {
  border-color: #2a5eac;
  box-shadow: 0 0 5px rgba(42, 94, 172, 0.4);
}

.search_button,
.reset_button {
  padding: 12px 20px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: auto 10px;
}
.search_button:hover,
.reset_button:hover {
  background-color: #1c4789;
}
.search_button:active,
.reset_button:active {
  transform: scale(0.98);
  background-color: #1c4789;
}

.photo-section {
  margin: 70px 30px;
  padding: 30px 20px;
  display: flex;
  gap: 80px;
  background: linear-gradient(109.6deg, rgb(238, 164, 179) 11.2%, rgb(212, 153, 234) 47.3%, rgb(150, 121, 255) 100.2%);
  border-radius: 8px;
}

.photo-upload {
  max-width: 50%;
}
.photo-upload .image-submit {
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 70%;
  margin-left: 60px;
}

.photo-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 350px;
  border: 1px solid #ccc;
  border-radius: 50%;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}
.photo-placeholder .profile-picture {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.upload-btn {
  position: relative;
  left: 100px;
}

.user-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 65%;
  gap: 10px;
}

.user-info h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.user-info p {
  margin: 5px 0;
}

.listings {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  margin: 30px 50px;
  width: 55%;
}

.listing-item {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  height: 300px;
  text-align: center;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.listing-title {
  color: black;
  text-align: center;
}

.user-about {
  margin-top: 20px;
  width: 80%;
}

.user-about h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.user-about p {
  margin: 5px 0;
}

.job_title {
  color: rgb(129, 124, 124);
}

.service-detail-container {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.5;
}

.return_button {
  background-color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.return_button .return_link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.service-detail-info {
  margin-bottom: 30px;
}

.service-detail-info h3 {
  margin-bottom: 10px;
  color: rgb(89, 87, 87);
}

.service-description p {
  margin: 5px 0;
}

.service-detail-map {
  margin: 20px 0;
}

.service-detail-map .btn {
  background-color: black;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.calendar-time-section {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.calendar-time-section p {
  font-weight: bold;
}

.calender-date-picker {
  display: flex;
  flex-direction: column;
}

.service_provider_information {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

.service_provider_information p {
  margin: 5px 0;
}

/* Shopping Cart Styles */
.shopping-cart-container {
  padding: 20px;
  max-width: 1200px;
  margin: 60px 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.shopping-cart-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.shopping-cart-nav h4 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.shopping-cart-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.shopping-cart-content h3 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

.shopping-cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shopping-cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

.shopping-cart-item h5 {
  font-size: 18px;
  color: #333;
}

.shopping-cart-item p {
  font-size: 14px;
  color: #777;
  margin: 5px 0;
}

.shopping-cart-quantity {
  display: flex;
  justify-content: space-between;
}

.shopping-cart-input {
  width: 60%;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.shopping-cart-btn {
  background-color: rgb(172, 121, 243);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px 10px;
  transition: background-color 0.3s;
}

.shopping-cart-summary {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.shopping-cart-summary h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.shopping-cart-summary p {
  font-size: 18px;
  font-weight: bold;
  color: rgb(151, 88, 240);
}

.shopping-cart-content p {
  font-size: 16px;
  font-weight: bold;
  color: #888;
}

@media (max-width: 768px) {
  .shopping-cart-nav {
    flex-direction: column;
    align-items: center;
  }
  .shopping-cart-item {
    flex-direction: column;
    align-items: flex-start;
  }
  .shopping-cart-quantity {
    width: 100%;
  }
  .shopping-cart-btn {
    width: 100%;
  }
}
.payment-method {
  margin: 2rem;
  margin-bottom: 5%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 50%;
  height: 20%;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.payment-method h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.payment-option {
  display: flex;
  align-items: center;
  padding-left: 2px;
  margin-bottom: 15px;
}

.payment-option input[type=radio] {
  margin-right: 10px;
}

.payment-details {
  margin-top: 10px;
  padding: 15px;
  background: #f7f7f7;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.payment-details.active {
  border: 2px solid #007bff;
  background: #eef5ff;
}

.payment-details input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.payment-details label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

.input-radio-button {
  width: auto;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
}

.list-of-reviews-section {
  margin-top: 20px;
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 2rem;
}

.reviews-section p {
  margin-bottom: 10px;
}

.reviews-section input {
  width: 100%;
  height: 80px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

.add-reviews-section h3 {
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}

.review-submit-btn {
  position: relative;
  left: 20rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #000;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=main.css.map */